<footer>
  <div class="container-fluid">
    <a href="http://www.scilifelab.se/" target="_blank" class="pull-right">
      <img src="{{ url_for('static', filename='img/SciLifeLab_logo.png') }}" style="height:41px;">
    </a>
    <p>
        <a href="https://github.com/Daylily-Informatics/UltraQC" target="_blank">UltraQC v{{ version }}</a>
         - Originally by Phil Ewels, Denis Moreno, Michael Milton, Tor Solli-Nowlan and Lukas Heumos.
        Now maintained by <a href="https://github.com/Daylily-Informatics" target="_blank">Daylily Informatics</a>.
    </p>
    <p>
      UltraQC uses
      <a href="https://fastapi.tiangolo.com/" target="_blank">FastAPI</a>,
      <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>,
      <a href="http://fontawesome.io/" target="_blank">Font-Awesome</a> and
      <a href="https://jquery.com/" target="_blank">jQuery</a>.
    </p>
  </div>
</footer>
