version: "3.7"

services:
  ultraqc:
    image: daylily/ultraqc
    build: ..
    volumes:
      # Share the static files via a volume
      - static_volume:/app/ultraqc/static
    depends_on:
      - db
    environment:
      - ULTRAQC_PRODUCTION=${ULTRAQC_PRODUCTION}
      - ULTRAQC_SECRET=${ULTRAQC_SECRET}
      - ULTRAQC_DATABASE_URL=${ULTRAQC_DATABASE_URL}
      - ULTRAQC_HOST=${ULTRAQC_HOST}
      - ULTRAQC_PORT=${ULTRAQC_PORT}
  db:
    image: postgres:latest
    volumes:
      - db_volume:/var/lib/postgresql/data/
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
  nginx:
    image: nginx:latest
    volumes:
      # Mount the nginx conf
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      # Mount the self-signed certs
      - ${CRT_PATH}:/etc/nginx/ultraqc.crt:ro
      - ${KEY_PATH}:/etc/nginx/ultraqc.key:ro
      # Mount the static files from UltraQC so we can serve them efficiently
      - static_volume:/home/app/web/project/static
    ports:
      - 80:80
      - 443:443
    depends_on:
      - ultraqc

volumes:
  static_volume:
  db_volume:
